<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
  </style>
</head>
<body background="../public/stars.png">
  <form action="/" method="post">
    <input type="text" name="teamMember1Name">
    <input type="text" name="teamMember1Phone">
    <input type="text" name="teamMember1Email">
    <input type="text" name="teamMember1Roll">
    <!--Team Member 2-->
    <input type="text" name="teamMember2Name">
    <input type="text" name="teamMember2Phone">
    <input type="text" name="teamMember2Email">
    <input type="text" name="teamMember2Roll">
    <!--Team Member 3-->
    <input type="text" name="teamMember3Name">
    <input type="text" name="teamMember3Phone">
    <input type="text" name="teamMember3Email">
    <input type="text" name="teamMember3Roll">
    <input type="text" name="teamName">
    <input type="text" name="password">
    <button type="submit">Submit</button>
  </form>
  
</body>
</html>